// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.oswald-bold {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700 !important;
}

.oswald-regular {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400 !important;
}

.oswald-light {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 200 !important;
}

.subtitle {
  color: #b5b5b5;
}

.word-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}